<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Angular Example</title>
</head>
<body ng-controller="mainController">
{{ data }}

<button ng-click="login()">login</button>
<button ng-click="logout()">logout</button>
<button ng-if="databtn" ng-click="getClients()">clients</button>
<ol>
    <li ng-repeat="client in clients">{{client.billing_name}}</li>
</ol>
</body>
<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
<script type="text/javascript" src="./node_modules/ngstorage/ngStorage.js"></script>
<script type="text/javascript" src="./app.js"></script>
</html>
